In [1]:
import os
import glob
import pandas as pd
import requests
import zipfile

In [90]:
urls = ['https://s3.amazonaws.com/baywheels-data/2017-fordgobike-tripdata.csv.zip']
for year in ['2018', '2019', '2020']:
        for n in range(1,13):
            if n < 10 and year != '2020':
                url = 'https://s3.amazonaws.com/baywheels-data/{}0{}-fordgobike-tripdata.csv.zip'.format(year, n)
                urls.append(url)
            elif n > 10 and year != '2020':
                url = 'https://s3.amazonaws.com/baywheels-data/{}{}-fordgobike-tripdata.csv.zip'.format(year, n)
                urls.append(url)
            elif year == '2020' and n < 7:
                url = 'https://s3.amazonaws.com/baywheels-data/{}0{}-fordgobike-tripdata.csv.zip'.format(year, n)
                urls.append(url)

In [94]:
for i in range(16,29):
    urls[i] = urls[i].replace('fordgobike', 'baywheels')

In [97]:
n = 0
for i in urls:
    csv_request = requests.get(i, allow_redirects=True)
    open(urls[n][40:], 'wb').write(csv_request.content)
    with zipfile.ZipFile(urls[n][40:], 'r') as zip_ref:
        zip_ref.extractall()
    os.remove(urls[n][40:])
    n += 1

In [20]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [21]:
all_filenames

['201909-baywheels-tripdata.csv',
 '201904-fordgobike-tripdata.csv',
 '201907-baywheels-tripdata.csv',
 '201903-fordgobike-tripdata.csv',
 '201906-baywheels-tripdata.csv',
 '201908-baywheels-tripdata.csv',
 '201905-baywheels-tripdata.csv',
 '201901-fordgobike-tripdata.csv',
 '201912-baywheels-tripdata.csv',
 '201911-baywheels-tripdata.csv',
 '201902-fordgobike-tripdata.csv']

In [22]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "fordgobike.csv", index=False, encoding='utf-8')

In [30]:
df = pd.read_csv('fordgobike.csv')

In [31]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2267088 entries, 0 to 2267087
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             2267088 non-null  int64
 1   start_time               2267088 non-null  object
 2   end_time                 2267088 non-null  object
 3   start_station_id         2186354 non-null  float64
 4   start_station_name       2186955 non-null  object
 5   start_station_latitude   2267088 non-null  float64
 6   start_station_longitude  2267088 non-null  float64
 7   end_station_id           2184186 non-null  float64
 8   end_station_name         2184738 non-null  object
 9   end_station_latitude     2267088 non-null  float64
 10  end_station_longitude    2267088 non-null  float64
 11  bike_id                  2267088 non-null  int64
 12  user_type                2267088 non-null  object
 13  bike_share_for_all_trip  2023829 non-null  object
 14  rental_access_method     120838 non-null   object
dtypes: float64(6), int64(2), object(7)
memory usage: 259.4+ MB

In [32]:
df.nunique()

duration_sec                 14633
start_time                 2262241
end_time                   2262243
start_station_id               435
start_station_name             445
start_station_latitude       74717
start_station_longitude      75941
end_station_id                 435
end_station_name               445
end_station_latitude         76903
end_station_longitude        77993
bike_id                      11058
user_type                        2
bike_share_for_all_trip          2
rental_access_method             2
dtype: int64

In [33]:
df.bike_share_for_all_trip.value_counts()

No     1864536
Yes     159293
Name: bike_share_for_all_trip, dtype: int64

In [34]:
df.rental_access_method.value_counts()

app        108010
clipper     12828
Name: rental_access_method, dtype: int64